# Python bytecode та кеші
__pycache__/
*.py[cod]
*$py.class

# Розширення C та збірки
*.so
.Python

# Віртуальне оточення
env/
venv/
.venv/

# Папки збірки
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Інші тимчасові файли та логи
pip-log.txt
pip-delete-this-directory.txt
*.log

# Тестування та покриття коду
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.hypothesis/

# Документація (Sphinx)
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints/

# Налаштування середовища
.env
.env.*

# IDE та редактори
.vscode/
.idea/

# Docker файли (якщо використовуєш override)
docker-compose.override.yml

# Системні файли
.DS_Store
